body{
    background-color: lightblue;
    margin: 50px;
}
.btn-color{
    background-color:blueviolet;
    color: white;
}

#title{
    text-align: center;
    font-size: 50px;
}

p{
    font-size: 20px;
    margin-left: 10px;
}

.c_side{
    text-align: center;
}

.box{
    border-style: solid;
    border-color: black;
}